
img{
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 35%;
    padding: 10px;
    border-radius: 50%;
    transition: 2s;
}
img:hover{
    background-color: aqua;
    transform: rotate(7200deg)scale(1.5);
}
img:active{
    background-color: aqua;
    transform: translateX(-1000px);
    border-bottom: 100px solid chocolate;
}